# Ignore node_modules folders
bug_dashboard/node_modules/
server/node_modules/

# Ignore all .env files except .env.example
bug_dashboard/.env*
!bug_dashboard/.env.example

server/.env*
!server/.env.example

/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/VERCEL_DEPLOYMENT.md
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/deploy-to-vercel.sh
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/deploy-bugdashboard.sh
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/server/uploads
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/.env.example
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/server/seedAdmin.js
/home/mrunal/Documents/BugHuntPlatform/BugBountyPlatform/server/debugAdmin.js